h1, h2, h3, h4, h5, h6 {
	font-family: 'Noto Sans TC', sans-serif;
}

p, a, input, label, textarea, span, ul, li {
	font-family: 'Noto Serif TC', serif;
}

i {
	margin-right: 10px;
}

.btn {
	background: salmon;
	color: white;
    padding: 10px 20px;
    border-radius: 20px;
}

h3 {
	font-size: 40px;
	line-height: 1.5;
}

p {
	color: #707070;
}
/* 同時滿足 */
p.lead {
	color: black;
}

img {
	max-width: 100%;
}

#intro .jumbotron {
	height: 70vh;
	margin-bottom: 0;
}

#intro h1 {
	font-size: 45px;
    font-weight: 400;
    line-height: 1.5;
}

#intro .container {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#logo {
	width: 70px;
	height: 50px;
}

header li {
	margin: 0px 15px;
}

#second {
	padding: 80px 0px;
}

#second h3 {
	margin-bottom: 80px;
}

#secode img {
	margin-bottom: 13px;
    width: 100px;
    border-radius: 100%;
}

#latest {
	padding: 80px 0px;
	background: rgb(248, 248, 248);
}

#latest h3 {
	margin-bottom: 80px;
}

#latest .upper {
	position: relative;
}

#latest .inner-text {
	position: absolute;
	bottom: 24px;
	left: 24px;
}

#latest .upper .inner-text span {
	background: rgba(255,255,255,0.7);
    padding: 6px 20px;
    border-radius: 20px;
}

#latest .upper .inner-text h4 {
    margin-top: 17px;
}

#latest .lower {
	padding: 10px 20px 20px 20px;
}

#latest .lower h3 {
	font-size: 30px;
	margin-top: 13px;
	margin-bottom: 17px;
}

#latest .outer {
	background-color: white;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8);
}

#latest .outer a {
	color: black;
}

#latest .outer a:hover {
	text-decoration: none;
}

#email {
	padding: 50px 0;
}

#email h3 {
	padding-bottom: 30px;
}

#email .input-group {
	margin-bottom: 20px;
}

footer {
	border-top: solid 1px #c9c9c9;
    padding: 50px 0px 50px 100px;
}

footer img {
	width: 112px;
	margin-bottom: 26px;
}

footer h4 {
	margin-bottom: 26px;
}

footer a {
	color: salmon;
}

footer ul {
	list-style: none;
	padding: 0;
	float: left;
	margin-right: 30px;
}

footer ul li {
	margin-bottom: 10px;
}

footer ul li a {
	color: #707070;
}

@media only screen and (max-width: 768px) {
	#second h5 {
		padding-bottom: 30px;
	}

	#latest .outer {
		margin-bottom: 30px;
	}

	#latest .outer img {
		width: 100%;
	}
}