<!DOCTYPE html>
<html lang="en">
	<head>
		{% include 'meta.html' %}
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<script src="{{ url_for('static', filename='js/functions.js')}}"></script>
		<script src="{{ url_for('static', filename='js/show.js') }}"></script>
	</head>
	<body id="body-restrict">
		{% include 'header.html' %}
		{% if datas %}
		<section id="latest" class="show-background">
			<div class="jumbotron min-vh-100 text-center d-flex flex-column m-0 justify-content-center">
				<div class="container show-container">
					<div class="row">
						<div class="col-md-4">
							<div class="outer">
								<div class="upper">
									<img src="{{ datas[0].img }}">
								</div>
								<div class="lower">
									<h3>{{ datas[0].name }}</h3>
									<span><i class="fas fa-user"></i>{{ datas[0].writter }}</span>
								</div>
							</div>
						</div>
						<div class="col-md-2"></div>
						<div class="col-md-6">
							<div class="container">
								<div class="card text-center">
									<div class="list-group">
										{% for data in datas %}
										<a href="{{ data.link }}" class="list-group-item list-group-item-action">{{ data.price }}</a>
										{% endfor %}
									</div>
								</div>
							</div>
							{% else %}
							<h5>找不到結果</h5>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
</html>